.seriesList {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem 3.8rem;
  position: relative;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    opacity: 1; /* Transition to full opacity */
  }
}
