.header {
  padding-bottom: 1rem;
  font-size: 2.4rem;
  letter-spacing: 2px;
}

.carouselContainer {
  display: flex;
  align-items: first baseline;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 3rem;
  padding-top: 2rem;
  height: 50rem;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    opacity: 1; /* Transition to full opacity */
  }
}

.carouselContainer::-webkit-scrollbar {
  height: 0.7em;
}

.carouselContainer::-webkit-scrollbar-track {
  background: hsl(0, 0%, 3%);
  border-radius: 100vw;
  margin-block: 0.5em;
}

.carouselContainer::-webkit-scrollbar-thumb {
  background: rgb(121, 116, 116) 88%;

  border-radius: 100vw;
}
