.errorInformation {
  display: flex;
  margin: 0 auto;
  max-width: 80%;
  min-height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorHeader {
  font-weight: 500;
  font-size: 6.2rem;

  margin-bottom: -2rem;
}

.errorParagraph {
  font-weight: 500;
  font-size: 4.4rem;
}

.errorNumber {
  font-size: 6.2rem;
}
