.navigationBar {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  height: 6.4rem;
  max-width: 180rem;
  gap: 1rem;
}

.navigationBar ul {
  list-style: none;
}

.hideNav {
  transform: translateY(-100%);
}

.navButtonMobile {
  padding-top: 1rem;
  height: 5rem;
  display: none;
  z-index: 22;
}

.container {
  display: flex;
  justify-content: center;
  z-index: 10;
  position: sticky;
  top: 0;
  transition: transform 0.5s ease;
  background-color: var(--main-nav-color);
  padding: 0 3.2rem;

  color: white;
}
.navLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  white-space: nowrap;
}

.navTitle {
  font-size: 2.8rem;
  -text-shadow: 0 0 3px #000000;
}

.navText {
  font-size: 2rem;
}

.NavList {
  font-size: 1.8rem;
  gap: var(--space-secondary);

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  overflow: hidden;
}

.NavList a:hover,
.NavList a:focus {
  background-color: #313131;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
  transition: ease-out 0.3s background-color;
}

.NavList a:link,
.NavList a:visited {
  color: white;
  text-decoration: none;
}

.NavList a {
  padding: 1rem;
}

@media (max-width: 44em) {
  .navigationBar {
    justify-content: left;
  }
  .navLogo {
    z-index: 23;
  }
  .seriesList {
    grid-template-columns: 1fr;
  }
  .navButtonMobile {
    display: block;
  }
  .navText {
    display: none;
  }

  .navTitle {
    margin-left: 2rem;
    font-size: 2.8rem;
    -text-shadow: 0 0 3px #000000;
  }

  .NavList {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    gap: 5rem;
    width: 40%;
    height: 100%;
    background-color: var(--main-nav-color);
    font-size: 2.4rem;
    transition: all 0.3s ease-in-out;
  }

  .NavList.hidden {
    transform: translateX(-100%); /* Slide out to the left */
  }
}

@media (max-width: 34em) {
  .NavList {
    width: 100%;
    opacity: 0.9;
  }
}
