.movieList {
  width: 100%;
  margin: auto;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    opacity: 1; /* Transition to full opacity */
  }
}

/* Tablets */
@media (max-width: 59em) {
  .movieList {
    grid-template-columns: 1fr 1fr;
  }
}

/* smaller tablets */
@media (max-width: 44em) {
  .movieList {
    grid-template-columns: 1fr;
  }
}
