.SearchSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 180rem;
  margin: 0 auto;
  width: 100%;
  height: calc(100vh / 2.5);
  color: white;
  padding: 30px 40px;
}
