* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-text-color: #d1d0d0;
  --main-nav-color: #1a1a1a;
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: .6rem;
  --main-background-gradient:linear-gradient(
    90deg,
    hsl(0, 0%, 0%) 54%,
    rgba(115, 8, 26, 1) 92%
  );
  --button-background-gradient:linear-gradient(0deg,
  rgb(15, 15, 15)25%,
    rgba(100, 8, 26, 1) 69%)
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    hsl(0, 0%, 0%) 54%,
    rgba(115, 8, 26, 1) 92%
  );

  color: var(--main-text-color);
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgb(87, 80, 80) 88%;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 3%);
  border-radius: 80vw;
}
